<form class="better-npc-sheet {{cssClass}}" autocomplete="off">
    <!-- HEADER -->
    <header class="sheet-header npc-header">
        <div class="header-left">
            <!-- IMAGE -->
            <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
        </div>
        <div class="header-middle">
            <!-- NAME -->
            <h1 class="charname">
                <input class="name-input" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize "DND5E.Name" }}" />
            </h1>
            <!-- DETAILS -->
            <div class="details">
                <select class="size-selector" name="data.traits.size" title="Size">
                    {{#select data.traits.size}}
                    {{#each config.actorSizes as |label size|}}
                        <option value="{{size}}">{{label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <input class="npc-textinput" name="data.details.type" type="text" value="{{data.details.type}}" placeholder="{{ localize "Type" }}" />
                <input class="npc-textinput" name="data.details.alignment" type="text" value="{{data.details.alignment}}" placeholder="{{ localize "DND5E.Alignment" }}" />
                <input class="npc-textinput" name="data.details.source" type="text" value="{{data.details.source}}" placeholder="{{ localize "DND5E.Source" }}" />
            </div>
        </div>

        <div class="header-right">
            {{#if editable}}
                <a class='editBtn' title='{{ localize "Edit" }}'><i class="fas fa-cog"></i></a>
            {{/if}}
            <nav class="tabs" data-group="group1">
                <a class="item" data-tab="tab1">{{ localize "BNPCSheet.Attribues" }}</a>
                <a class="item" data-tab="tab2">{{ localize "DND5E.Biography" }}</a>
            </nav>        
        </div>
    </header>
    <!-- BODY -->
    <section class="sheet-body npc-body">


        <div class="tab" data-tab="tab1" data-group="group1">
            <!-- PRIMARY ATTRIBUTES -->
            <div class="body-tile base-attribs">
                <div>
                    <div class="flex-line">
                        <label>{{ localize "DND5E.ArmorClass" }} </label>
                        <input class="npc-textinput-small flex" name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}"
                               data-dtype="Number" placeholder="10" />
                        <span class="flex0">(</span>
                        <input class="npc-textinput-small flex" name="data.attributes.ac.formula" class="acformula" type="text" placeholder="{{ localize "Formula" }}"
                               value="{{data.attributes.ac.formula}}" />
                        <span class="flex0">)</span>
                    </div>
                    <div class="flex-line">
                        <label>{{ localize "BNPCSheet.Initative" }}</label>
                        <input class="npc-textinput-small flex" name="data.attributes.init.value" type="text" placeholder="0"
                               data-dtype="Number"
                               value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}" />
                    </div>
                    <div class="flex-line">
                        <label class="flex">{{ localize "DND5E.HitPoints" }} </label>
                        <input class="npc-textinput-small flex" name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                               data-dtype="Number" placeholder="10" />
                        <span class="flex0">/</span>
                        <input class="npc-textinput-small flex" name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                               data-dtype="Number" placeholder="10" />
                        <span class="flex0">(</span>
                        <input class="npc-textinput-small flex" name="data.attributes.hp.formula" class="hpformula" type="text" placeholder="{{ localize "Formula" }}"
                               value="{{data.attributes.hp.formula}}" />
                        <a class="npc-roll-hp" title="{{ localize "BNPCSheet.RollHP" }}"><i class="fas fa-dice-d20"></i></a>
                        <span class="flex0">)</span>
                    </div>
                    <div class="form-group-stacked hidable">
                        <a class="config-button" data-action="movement"><b>{{
                                localize "DND5E.Speed" }}</b></a>
                        <ul class="traits-list">
                            {{#if movement.primary}}
                            <li class="tag">{{movement.primary}}</li>
                            {{/if}}
                            {{#if movement.special}}
                            <li class="tag">{{movement.special}}</li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
                <div class="sheet-divider"></div><div class="sheet-divider-left"></div>
                <!-- ABILITY SCORES -->
                <div class="flex-line">
                    {{#each data.abilities as |ability id|}}
                    <div class="ability" data-ability="{{id}}">
                        <h4 class="ability-name rollable">{{id}}</h4>
                        <div class="flex-line">
                            <input class="npc-textinput-small flex ability-score" name="data.abilities.{{id}}.value" type="text" data-dtype="Number" value="{{ability.value}}" placeholder="10" />
                            <span class="flex0">(</span>
                            <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                            <span class="flex0">)</span>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="sheet-divider"></div><div class="sheet-divider-left"></div>
                <!-- SAVING THROWS -->
                <div class='saves-div'>
                    <label style="font-weight:bold;">{{ localize "BNPCSheet.SavingThrows" }}</label>
                    {{#each data.abilities as |ability id|}}
                    <div class="save flex-line hidable" data-hidable-attr="{{ability.proficient}}" data-ability="{{id}}">
                        <input class='hidable-attr' type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}" data-dtype="Number"/>
                        <a class="proficiency-toggle ability-proficiency show-on-edit" title="Proficiency">{{{ability.icon}}}</a>
                        <a class="ability-name rollable ">{{id}}</a>
                        <span class="ability-save " title="Saving Throw">{{numberFormat ability.save decimals=0 sign=true}}</span>
                    </div>
                    {{/each}}
                </div>
                <!-- SKILLS -->
                <div class='skills-div'>
                    <label style="font-weight:bold;">{{ localize "BNPCSheet.Skills" }}</label>
                    {{#each data.skills as |skill s|}}
                    <div class="skill flex-line hidable" data-hidable-attr="{{skill.value}}" data-skill="{{s}}">
                        <a class="skill-proficiency show-on-edit " title="{{skill.hover}}">{{{skill.icon}}}</a>
                        <a class="skill-name rollable ">{{skill.label}}</a>
                        <span class="skill-mod ">{{numberFormat skill.total decimals=0 sign=true}}</span>
                        <span class="skill-ability ">({{skill.ability}})</span>
                        <input class='hidable-attr' type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number" />
                    </div>
                    {{/each}}
                </div>

                <!-- IMMUNITYS -->

                <div class="form-group-stacked hidable" data-hidable-attr="{{data.traits.di.value}}{{data.traits.di.custom}}">
                    <label for="data.traits.di"></label>
                    <a class="trait-selector" data-options="damageTypes" data-target="data.traits.di">{{localize "DND5E.DamImm"}}</a>
                    <ul class="traits-list">
                        {{#each data.traits.di.selected as |v k|}}
                        <li class="tag {{k}}">{{v}}</li>
                        {{/each}}
                    </ul>
                </div>

                <div class="form-group-stacked hidable" data-hidable-attr="{{data.traits.dr.value}}{{data.traits.dr.custom}}">
                    <label for="data.traits.dr"></label>
                    <a class="trait-selector" data-options="damageTypes" data-target="data.traits.dr">{{localize "DND5E.DamRes"}}</a>
                    <ul class="traits-list">
                        {{#each data.traits.dr.selected as |v k|}}
                        <li class="tag {{k}}">{{v}}</li>
                        {{/each}}
                    </ul>
                </div>

                <div class="form-group-stacked hidable" data-hidable-attr="{{data.traits.dv.value}}{{data.traits.dv.custom}}">
                    <label for="data.traits.dv"></label>
                    <a class="trait-selector" data-options="damageTypes" data-target="data.traits.dv">{{localize "DND5E.DamVuln"}}</a>
                    <ul class="traits-list">
                        {{#each data.traits.dv.selected as |v k|}}
                        <li class="tag {{k}}">{{v}}</li>
                        {{/each}}
                    </ul>
                </div>

                <div class="form-group-stacked hidable" data-hidable-attr="{{data.traits.ci.value}}{{data.traits.ci.custom}}">
                    <label for="data.traits.ci"></label>
                    <a class="trait-selector" data-options="conditionTypes" data-target="data.traits.ci">{{localize "DND5E.ConImm"}}</a>
                    <ul class="traits-list">
                        {{#each data.traits.ci.selected as |v k|}}
                        <li class="tag {{k}}">{{v}}</li>
                        {{/each}}
                    </ul>
                </div>


                <!-- Others -->
                <div class="flex-line hidable" data-hidable-attr="{{data.traits.perception.value}}">
                    <label><b>{{localize "BNPCSheet.PassivePerception"}} </b></label>
                    <input class="npc-textinput-small hidable-attr" type="text" name="data.skills.prc.passive"
                        data-dtype="{{data.skills.prc.passive}}" value="{{data.skills.prc.passive}}"
                        placeholder="Value" />
                </div>
                <div class="form-group-stacked hidable" data-hidable-attr="{{data.traits.senses}}">
                    <label for="data.traits.senses"></label>
                    <a class="trait-selector config-button" data-action="senses"><b>{{localize
                            "DND5E.Senses"}}</b></a>
                    <ul class="traits-list">
                        {{#each senses as |v k|}}
                        <li class="tag {{k}}">{{v}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="form-group-stacked hidable" data-hidable-attr="{{data.traits.languages.value}}{{data.traits.languages.custom}}">
                    <label for="data.traits.languages"></label>
                    <a class="trait-selector" data-options="languages" data-target="data.traits.languages">{{localize "DND5E.Languages"}}</a>
                    <ul class="traits-list">
                        {{#each data.traits.languages.selected as |v k|}}
                        <li class="tag {{k}}">{{v}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="flex-line">
                    <label>{{localize "DND5E.ChallengeRating"}} </label>
                    
                    <input class="npc-textinput-small" name="data.details.cr" type="text" value="{{labels.cr}}" placeholder="1"/>
                    <span>({{data.details.xp.value}} {{localize "BNPCSheet.XP"}})</span>
                </div>
                <div class="flex-line">
                    <label>{{localize "BNPCSheet.ProficiencyBonus"}}</label>
                    <span>{{numberFormat data.attributes.prof decimals=0 sign=true}}</span>
                </div>

                <div class="flex-line hidable" data-hidable-attr="{{data.resources.legact.max}}">
                    <label>{{ localize "DND5E.LegAct" }}</label>
                    <input class="npc-textinput-small hidable-attr" type="text" name="data.resources.legact.value" data-dtype="{{data.resources.legact.type}}"
                           value="{{data.resources.legact.value}}" placeholder="0" />
                    <span class="flex0">/</span>
                    <input class="npc-textinput-small hidable-attr" type="text" name="data.resources.legact.max" data-dtype="{{data.resources.legact.type}}"
                           value="{{data.resources.legact.max}}" placeholder="0" />
                </div>
                <div class="flex-line hidable" data-hidable-attr="{{data.resources.legres.max}}">
                    <label>{{ localize "DND5E.LegRes" }}</label>
                    <input class="npc-textinput-small hidable-attr" type="text" name="data.resources.legres.value" data-dtype="{{data.resources.legres.type}}"
                           value="{{data.resources.legres.value}}" placeholder="0" />
                    <span class="flex0">/</span>
                    <input class="npc-textinput-small hidable-attr" type="text" name="data.resources.legres.max" data-dtype="{{data.resources.legres.type}}"
                           value="{{data.resources.legres.max}}" placeholder="0" />
                </div>
                <div class="flex-line">
                    <label><a class="configure-flags">{{localize "DND5E.SpecialTraits"}}</a></label>
                </div>
            </div>

            <!-- Item Sections -->
            {{#each actor.sections as |section id|}}
                {{> "modules/betternpcsheet5e/template/section.hbs" section=section editable=editable}}
            {{/each}}

            <!-- SPELLS -->
            <div class="body-tile spell-section " data-hidable-attr="{{actor.spellbook}}" data-tile="spell{{lvl}}">
                <div class="sheet-divider"></div><div class="sheet-divider-left"></div>
                <h3>
                    <a class="item-control item-create npc-item-create" title="Create Spell" data-type="spell" data-level="0"><i class="fas fa-plus-circle"></i></a>
                    <a class="body-tile-name" data-tile="spell0" data-target="collapsable"> {{ localize "DND5E.Spellbook" }}</a>
                </h3>
                <div class="spellcasting-settings">
                    <div class="flexline">
                        Caster Level
                        <input class="spellcasting-level npc-textinput-small" type="text" name="data.details.spellLevel" value="{{data.details.spellLevel}}" data-dtype="Number" placeholder="0"/>
                    </div>
                    <div class="flexline">
                        {{ localize "BNPCSheet.SpellcastingAbility" }}
                        <select name="data.attributes.spellcasting" data-type="String">
                            {{#select data.attributes.spellcasting}}
                                <option value="">{{ localize "DND5E.None" }}</option>
                                {{#each data.abilities as |abl a|}}
                                <option value="{{a}}">{{abl.label}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="flexline">
                        Default Spellcasting DC: {{data.attributes.spelldc}}
                    </div>
                </div>
            </div>

            {{#each actor.spellbook as |section lvl|}}
            <div class="body-tile spell-section" data-tile="spell{{lvl}}">
                <div class="sheet-divider"></div><div class="sheet-divider-left"></div>
                <h3 class="flex-line">
                    <a class="item-control item-create npc-item-create" title="{{ localize "BNPCSheet.CreateSpell" }}" data-type="spell" data-level="{{lvl}}"><i class="fas fa-plus-circle"></i></a>
                    <a class="body-tile-name" data-tile="spell{{lvl}}">{{section.label}} </a>
                    {{#unless section.isCantrip}}
                    <span>&nbsp;- {{ localize "BNPCSheet.Spellslots" }}:</span>
                    <span class="spell-slots">
                        <input class="spellslot-input" type="text" name="data.spells.spell{{lvl}}.value" value="{{section.uses.value}}" placeholder="0" />
                    </span>
                    <span class="flex0"> / </span>
                    <span class="spell-max" data-level="spell{{lvl}}">
                        {{#if section.uses.override}}
                            <input class="spellslot-input" type="text" name="data.spells.spell{{lvl}}.override" value="{{section.uses.override}}" data-dtype="Number" placeholder="0" />
                        {{else}}
                            <input class="spellslot-input" type="text" name="data.spells.spell{{lvl}}.max" value="{{section.uses.max}}" data-dtype="Number" placeholder="0" readonly/>
                            {{#if ../editable}}
                            <a class="slot-max-override" title="{{localize 'DND5E.SpellProgOverride'}}">
                                <i class="fas fa-edit"></i>
                            </a>
                            {{/if}}
                        {{/if}}
                    </span>
                    {{#if ../editable}}
                        <a class="spellslot-mod" data-mod="+" data-level="{{lvl}}" title="{{ localize "BNPCSheet.SpellslotAdd" }}">&#9650;</i></a>
                        <a class="spellslot-mod" data-mod="-" data-level="{{lvl}}" title="{{ localize "BNPCSheet.SpellslotSubstract" }}">&#9660;</a>
                    {{/if}}
                    {{/unless}}
                </h3>
                <div class="sheet-divider"></div><div class="sheet-divider-left"></div>
                <ul class="item-list">   
                {{#each section.spells as |spell i|}}
                <li class="item" data-item-id="{{spell._id}}">
                    <h4 class='npc-item-header'>
                        {{#if ../../useIcons}}
                        <img class="rollable" src="{{spell.img}}" title="{{spell.name}}" width="20" height="20" />
                        {{else}}
                        <a class="rollable" title="Post to Chat"><i class="fas fa-dice-d20"></i></a>
                        {{/if}}
                        <a class="item-control item-edit show-on-edit" title="{{ localize "BNPCSheet.ItemEdit" }}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete show-on-edit" title="{{ localize "ITEM.Delete" }}"><i class="fas fa-trash"></i></a>
                        <a class='npc-item-name' data-item-id="{{spell._id}}">{{spell.name}}</a>
                        <b class='npc-item-uses hidable' data-hidable-attr="{{spell.data.uses.max}}" data-item-id="{{spell._id}}">({{spell.data.uses.value}}/{{spell.data.uses.max}})</b>
                    </h4>
                </li>
                {{/each}}
                </ul> 
            </div>
            {{/each}}

        
            <!-- END -->
        </div>
            <div class="tab biography" data-tab="tab2" data-group="group1">
                {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
            </div>
</section>
</form>
